*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f6fa;
    box-sizing: border-box;
}

#login-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg,#2c3e50,#3498db);
    
}

.login-box{
    text-align: center;
    padding: 30px;
    background: white;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,.3);

}

.input-field{
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;

} 

.btn-primary{
    width: 100%;
    color: white;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #3498db;
}

#app{
    height: 100vh;
    display: flex;
    display:none;
}

.sidebar{
    width: 20%;
    height:100vh;
    background:#2c3e50;
    color:white;
    padding: 20px;
    box-sizing:border-box;
}

.sidebar button{
    display:block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background: #3498db;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    
}

.sidebar .btn-logout{
    background:#e74c3c;
}

 .content{
    flex: 1;
    padding: 20px;
    overflow-y: auto;
} 

 .section{
    display: none;
}  

.section h3{
    margin-top:20px ;
    text-align:center;
    
}

.sidebar h4{
    margin-top:20px ;
    text-align:center;
    color: black;
    background:#2c3e50;
    margin-bottom: 16px;
}

.cards{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

}

.card{
   
    background: white;
    padding: 20px;
    margin:20px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    min-width: 150px;
    text-align: center;
}

.card h5{
    background: white;
}

.box-card{
    background: white;
    padding: 20px;
    max-width: 450px;
    margin: 20px auto;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.box-card h4{
    text-align: center;
    margin-bottom: 10px;
    background: white;
}

/* Parent container: flex layout, center horizontally */
.search-box {
    display: flex;
    gap: 10px;               
}


.search-box .input-field {
    flex: 1;                  /* expand to fill row */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}


.btn-search {
    background: rgb(217, 215, 215);      
    color: rgb(12, 12, 12);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;            
    align-items: center;
    gap: 5px;                 
    font-size: 16px;
}


.search-box .input-field,
.btn-search {
    height: 45px;
}

.btn-action{
    display: flex;
    gap: 10px; 
}

.btn-action button{
    flex:1;
    margin-bottom: 20px;
}

.btn-success{
    background: #2ecc71;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width:100%;
}

.btn-warning{

    background:#f1c40f;
    color: white;
    border: none;
    padding:10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top:20px;

}

.btn-danger{
    background: red;
    color: white;
    border: none;
    display: block;
    border-radius: 5px;
    padding: 10px;
    margin: 20px auto;
}

.section .input-field{
    margin-bottom:15px ;
}

.sidebar button{
    transition: all 0.3s ease;
}

.sidebar button:hover{
    transform: scale(1.02);
    font-weight: bold;
    font-size: 1rem;
}



.form-message {
    margin-top: 10px;
    padding: 10px;
    border-radius: 6px;
    display: none;
    font-weight: 500;
}

.form-message.success {
    background-color: #d4edda;
    color: #155724;
}

.form-message.error {
    background-color: #f8d7da;
    color: #721c24;
}